[ADDON]
DisabledAddons=

[GENERAL]
EffectSearchPaths=.\reshade-shaders\Shaders\**
NoDebugInfo=1
NoEffectCache=0
NoReloadOnInit=0
PerformanceMode=0
PreprocessorDefinitions=
PresetPath=.\ReShadePreset.ini
PresetTransitionDuration=1000
SkipLoadingDisabledEffects=0
TextureSearchPaths=.\reshade-shaders\Textures\**

[INPUT]
ForceShortcutModifiers=1
GamepadNavigation=0
InputProcessing=2
KeyOverlay=36,0,0,0
KeyScreenshot=44,0,0,0

[OVERLAY]
AutoSavePreset=1
FPSPosition=1
ShowFPS=2
TutorialProgress=4

[SCREENSHOT]
FileFormat=1
FileNaming=%AppName% %Date% %Time%_%Count%
JPEGQuality=90
SavePath=.\

[Standalone.DLSSNR]
AdaptivePressureGovernor=0
AsyncComputePipeline=1
AutoStableSrNoMotion=1
CompositeReshade=1
DlssRenderPreset=12
EarlyProxyInitialization=0
Enabled=1
FrameGeneration=1
FrameGenEvenPacing=1
FrameGenMultiplier=3
FrameGenPacingBias=0.25
NeuralResidualScale=1.00
NeuralResidualStrength=1.00
NeuralResidualGuides=1
NeuralQueuePriorityHigh=0
Intensity=1.4000
LocalStructure=1.2000
LocalTone=1.2000
Model=3
NeuralRendering=1
NgxVerboseLog=0
NrRejectionMask=0
NvidiaOpticalFlowMotion=1
NvidiaOpticalFlowResolution=0
OpaqueComposition=0
Passes=2
PerformanceTelemetry=1
PipelineRateLock=1
PresentQueueLimit=1
MouseWarp=0
MouseWarpPixelsPerCount=0.00
PrivateNgxCore=1
SerializedPresenterMigrated=1
ShowProxyFps=1
SkinStructure=0.1700
SourceResolutionOverride=0
StableSrHistory=0
SynchronousProxyPresentation=0
UiGuard=1
UiGuardStrength=0.90
UiGuardThreshold=0.28

[STYLE]
FontScale=1.500000
StyleIndex=2
